.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; // hide overflowing elems
  &__content {
    // fix sizing of video
    height: 100%;
    width: 100%;
    /* 🔥 new CSS 🔥*/
    object-fit: cover; // fill entire element, keep aspect ratio, clip ends that don't fit
  }
}
