/* set project-wide font definitions */

*,
*::after,
*::before {
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px/16px

  @include respond(tablet-land) {
    font-size: 56.25%;// 1rem = 9px/16px
  }
  @include respond(tablet-port) {
    font-size: 50%; // 1rem = 8px/16px
  }
  @include respond(phone) {
    font-size: 40%; // 1rem = 8px/16px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  margin: 0;
  @include respond(tablet-port) {
    padding: 0;
  }
}
